node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Expluding my custom test record videos
my-test-videos
.env

# Sahil
tests/storage-state/.auth/*
!tests/storage-state/.auth/.keep

tests/session-storage/.auth/*
!tests/session-storage/.auth/.keep
